<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bushra.myblogger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PostDetailsActivity" />
        <activity android:name=".FavoritesActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/circle" />

        <activity android:name=".CreateNewPostActivity" >

        </activity>
        <activity android:name=".PostListActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".NoItemInternetImage"></activity>
    </application>

</manifest>